@charset "UTF-8";
/* CSS Document */


/* mobile layout is the default - the columns stack on top of each other at full width */

body {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

#container {
	display: flex;
	flex-direction: column;
	/* stops website from expanding past 1140px, margin auto ensures the website
	   is centered when the viewport is expanded past 1140 */
	margin: auto;
	min-height: 100vh;
}

.box {
	flex-basis: 25vh;
	flex-grow: 1;
}


#box1 {
	background-color: pink;
}

#box2 {
	background-color: red;
}

#box3 {
	display: hidden;
}

#box4 {
	display: hidden;
}


/* when the browser window is 641px width and up, the website uses the changes in THIS code */

@media screen and (min-width: 641px) {
	#container {
		display: flex;
		flex-direction: row;
		max-width: 1140px;
		min-height: 100vh;
	}

	.box  {
		flex-basis: 25vw;
		flex-grow: 1;
	}

	#box1 {
		display: block;
		background-color: blue;
	}

	#box2 {
		display: block;
		background-color: purple;
	}

	#box3 {
		display: block;
		background-color: gray;
	}

	#box4 {
		display: block;
		background-color: #A0522D;
	}
}

